{{! Ability Tab }}
<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='ability'>
    <div class="compact-grid grid-3col">
        <span style="height: 20px;" class="{{#unless @root.system.editLock}}rollable strong-shake{{/unless}}" 
            {{#unless @root.system.editLock}} data-action='editUsageCost'{{/unless}}>
            {{localize 'RTR.Item.Ability.FIELDS.usageCost.label'}}
        </span>
        <div class="grid-span-2">
            {{#each (formatAbilityCost system.usageCost) as |cost key|}}
                <span class="useage-cost-text">{{cost}}</span>
            {{/each}}
        </div>

        {{#if (eq item.type 'spell')}}
            <span>{{localize 'RTR.Item.Spell.FIELDS.components.label'}}</span>
            <input class="compact-input grid-span-2" type='text' name='system.components' {{disabled @root.system.editLock}} value='{{system.components}}'/>
        {{/if}}

        <span>{{localize 'RTR.Item.Ability.FIELDS.range.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.range' value='{{system.range}}' {{disabled @root.system.editLock}} />

        <span>{{localize 'RTR.Item.Ability.FIELDS.targets.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.targets' value='{{system.targets}}' {{disabled @root.system.editLock}} />

        <span>{{localize 'RTR.Item.Ability.FIELDS.duration.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.duration' value='{{system.duration}}' {{disabled @root.system.editLock}} />

        <span>{{localize 'RTR.Item.Ability.FIELDS.formula.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.formula' value='{{system.formula}}' {{disabled @root.system.editLock}} />

        {{#if (eq item.type 'spell')}}
            <span>{{localize 'RTR.Item.Spell.FIELDS.spellDifficulty.label'}}</span>
            <input class="compact-input grid-span-2" type='number' name='system.spellDifficulty' {{disabled @root.system.editLock}} value='{{system.spellDifficulty}}'/>
        {{/if}}
    </div>
    <h6 style="margin-top: 5px;">{{localize 'RTR.Item.Ability.FIELDS.actions.label'}}</h6>
    <div class="flexcol">
        {{#each system.actions as |action key|}}
            <div class="action-container compact-grid grid-2col">
                {{#if (or (or (eq action.targets 'cone') (eq action.targets 'line')) (eq action.targets 'sphere'))}}
                    <span><strong>{{localize 'RTR.Item.Ability.FIELDS.targets.label'}}:</strong> {{localize (lookup @root.config.abilityTargetTypes action.targets)}} ({{action.targetsAreaSize}} m)</span>
                {{else}}
                    <span><strong>{{localize 'RTR.Item.Ability.FIELDS.targets.label'}}:</strong> {{localize (lookup @root.config.abilityTargetTypes action.targets)}}</span>
                {{/if}}
                {{#if (eq action.rangeType 'meters')}}
                    <span><strong>{{localize 'RTR.Item.Ability.FIELDS.range.label'}}:</strong> {{action.range}} {{localize (lookup @root.config.abilityRangeType action.rangeType)}}</span>
                {{else}}
                    <span><strong>{{localize 'RTR.Item.Ability.FIELDS.range.label'}}:</strong> {{localize (lookup @root.config.abilityRangeType action.rangeType)}}</span>
                {{/if}}

                <span class="grid-span-2">
                    {{#if (or (eq action.actionType 'martialTest') (eq action.actionType 'spellTest'))}}
                        {{#unless action.fixed}} {{localize (lookup @root.config.attributeAbbreviations action.attribute)}} {{/unless}} {{localize (lookup @root.config.abilityActionType action.actionType)}} {{#if action.fixed}} ({{action.fixedValue}}){{/if}} {{#if action.rollBonus}} (+{{action.rollBonus}}){{/if}} {{localize 'vs.'}} {{localize action.targetingSave}}
                    {{else}}
                        {{#if (exists action.targetingSave)}}
                            {{localize (lookup @root.config.abilityActionType action.actionType)}} {{#if action.fixed}} ({{action.fixedValue}}) {{/if}} {{#if action.rollBonus}} (+{{action.rollBonus}}){{/if}} {{localize 'vs.'}} {{localize action.targetingSave}}
                        {{else}}
                            {{localize (lookup @root.config.abilityActionType action.actionType)}} {{#if action.fixed}} ({{action.fixedValue}}) {{/if}} {{#if action.rollBonus}} (+{{action.rollBonus}}){{/if}}
                        {{/if}}
                    {{/if}}
                </span>

                {{#unless @root.system.editLock}}
                    <input type="button" value="{{localize 'Add Result'}}" class="grid-span-2 compact-input add-btn" data-action='addResult' data-actionidx="{{key}}"/>
                {{/unless}}

                {{#each action.results as |result key|}}
                    <div 
                        {{#if (eq result.condition 'always')}}class="always-result grid-span-2"{{/if}}
                        {{#if (eq result.condition 'onSuccess')}}class="success-result grid-span-2"{{/if}}
                        {{#if (eq result.condition 'onFailure')}}class="failure-result grid-span-2"{{/if}}
                        {{#if (eq result.condition 'onHit')}}class="hit-result grid-span-2"{{/if}}
                        {{#if (eq result.condition 'onPartialHit')}}class="partialhit-result grid-span-2"{{/if}}
                    >
                        <i class="fa-solid fa-arrow-turn-up" style="margin-left: 5px; transform: rotate(90deg);"></i>
                        <strong>{{localize (lookup @root.config.abilityResultCondition result.condition)}}:</strong>
                        {{#if (or (eq result.type 'damage') (eq result.type 'damageAndStatusEffect'))}}
                            {{#if (eq result.damageCalculationMethod 'custom')}}
                                <span>{{localize (lookup @root.config.abilityResultType result.type)}}: {{ result.damageFormula }} {{#if result.damageBonus}} (+{{result.damageBonus}}){{/if}} {{localize (lookup @root.config.damageTypes result.damageType)}} {{#if result.halfDamage}}(half){{/if}}</span>
                            {{else}}
                                <span>{{localize (lookup @root.config.abilityResultType result.type)}}: {{localize (lookup @root.config.abilityDamageCalculationMethod result.damageCalculationMethod)}} {{#if result.damageBonus}} (+{{result.damageBonus}}){{/if}}  {{localize (lookup @root.config.damageTypes result.damageType)}} {{#if result.halfDamage}}(half){{/if}}</span>
                            {{/if}}
                        {{/if}}

                        {{#if (eq result.type 'heal')}}
                            <span>{{localize (lookup @root.config.abilityResultType result.type)}}{{#if result.healTHP}} (THP){{/if}}: {{ result.healFormula }}</span>
                        {{/if}}

                        {{#if (or (or (eq result.type 'statusEffect') (eq result.type 'damageAndStatusEffect')) (eq result.type 'healAndStatusEffect'))}}
                            <span>Afflict: 
                                <img style="display: inline;" src="{{lookup (lookup @root.config.statusEffects result.statusEffectToApply) 'img'}}" height="16" width="16"/>
                                {{localize (lookup (lookup @root.config.statusEffects result.statusEffectToApply) 'name')}}
                                {{result.statusEffectDuration}} 
                                {{localize (lookup @root.config.abilityDurationTypes result.statusEffectDurationType)}}
                            </span>
                        {{/if}}

                        {{#unless (or (eq result.type 'damageAndStatusEffect') (eq result.type 'healAndStatusEffect'))}}
                            <span>{{action.onSuccess.additionalEffects}}</span>
                        {{/unless}}
                    </div>
                {{/each}}
                {{#unless @root.system.editLock}}
                    <input type="button" value="{{localize 'Delete Action'}}" class="grid-span-2 compact-input delete-btn" data-action='deleteAction' data-actionidx='{{key}}'/>
                {{/unless}}
            </div>
        {{/each}}
        {{#unless @root.system.editLock}}
            <input type="button" value="{{localize 'Add Action'}}" class="compact-input add-btn" data-action='addAction'/>
        {{/unless}}
    </div>
    {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
    {{#if editable}}
    <prose-mirror style="min-height: 125px;" name="system.description" data-document-u-u-i-d="{{item.uuid}}"
        value="{{system.description}}" collaborate="true" toggled="true">
        {{{enrichedDescription}}}
    </prose-mirror>
    {{else}} {{{enrichedDescription}}}
    {{/if}}
</section>