{{! Equipment Tab }}
<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='properties'>

  <div class='grid grid-2col'>
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.type.label'}}</label>
      <select name='system.type' data-dtype='text' class='equipment-type-selector'>
        {{#each @root.config.equipmentTypes as |type key|}}
          {{#if (compare key @root.system.type)}}
          <option value="{{key}}" selected="selected">{{key}}</option>
          {{else}}
          <option value="{{key}}">{{localize (lookup @root.config.equipmentTypes key)}}</option>
          {{/if}}
        {{/each}}
      </select>
    </div>
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.tier.label'}}</label>
      <input type='number' name='system.tier' value='{{system.tier}}' data-dtype='Number' />
    </div>
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.craftingSkills.label'}}</label>
      <input type='text' name='system.craftingSkills' value='{{system.craftingSkills}}' data-dtype='text' />
    </div>
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.cost.cost.label'}} ({{localize
        'RTR.Item.Equipment.FIELDS.cost.bc.abbr'}})</label>
      <input type='number' name='system.costBc' value='{{system.costBc}}' data-dtype='Number' />
    </div>
    {{#if (eq system.type 'weapon')}}
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.damage.label'}}</label>
      <input type='text' name='system.damage' value='{{system.damage}}' data-dtype='text' />
    </div>
    {{/if}}
    {{#if (eq system.type 'ammunitions')}}
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.availableWeapons.label'}}</label>
      <input type='text' name='system.availableWeapons' value='{{system.availableWeapons}}' data-dtype='text' />
    </div>
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.recoverable.label'}}</label>
      <input type='checkbox' name='system.recoverable' value='{{system.recoverable}}' data-dtype='boolean' />
    </div>
    {{/if}}
    {{#if (eq system.type 'armour')}}
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.damageBlock.label'}}</label>
      <input type='number' name='system.damageBlock' value='{{system.damageBlock}}' data-dtype='Number' />
    </div>
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.manoeuvrePenalty.label'}}</label>
      <input type='number' name='system.manoeuvrePenalty' value='{{system.manoeuvrePenalty}}' data-dtype='Number' />
    </div>
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.movementPenalty.label'}}</label>
      <input type='number' name='system.movementPenalty' value='{{system.movementPenalty}}' data-dtype='Number' />
    </div>
    {{/if}}
    {{#if (eq system.type 'shields')}}
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.shieldBlock.label'}}</label>
      <input type='number' name='system.shieldBlock' value='{{system.shieldBlock}}' data-dtype='Number' />
    </div>
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.manoeuvrePenalty.label'}}</label>
      <input type='number' name='system.manoeuvrePenalty' value='{{system.manoeuvrePenalty}}' data-dtype='Number' />
    </div>
    <div>
      <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.movementPenalty.label'}}</label>
      <input type='number' name='system.movementPenalty' value='{{system.movementPenalty}}' data-dtype='Number' />
    </div>
    {{/if}}
  </div>
  {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
  {{#if editable}} 
    <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
      {{{enrichedDescription}}}
    </prose-mirror>
  {{else}} {{{enrichedDescription}}}
  {{/if}}
</section>