<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{item.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{item.name}}'
  />
  <div class='header-fields'>
    <div class='document-name'>
      <input name='name' type='text' value='{{item.name}}' placeholder='Name' />
    </div>
    {{! You may prefer to have a separate header file instead of this if statement}}
    {{#if (eq item.type 'equipment')}}
      <div class='grid grid-3col'>
        <div class='resource'>
          <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.quantity.label'}}</label>
          <input
            type='text'
            name='system.quantity'
            value='{{system.quantity}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.weight.kg.label'}}</label>
          <input
            type='text'
            name='system.weightKg'
            value='{{system.weightKg}}'
            data-dtype='Number'
          />
        </div>
        <div class='resource'>
          <label class='bold-text'>{{localize 'RTR.Item.Equipment.FIELDS.weight.gramm.label'}}</label>
          <input
            type='text'
            name='system.weightGramm'
            value='{{system.weightGramm}}'
            data-dtype='Number'
          />
        </div>
      </div>
    {{/if}}
  </div>
</header>