{{! Perk Tab }}
<section class='tab attributes {{tab.cssClass}}' data-group='primary' data-tab='perk'>
    <div class="compact-grid grid-3col">
        <span>{{localize 'RTR.Item.Perk.FIELDS.perkPointsCost.label'}}</span>
        <input {{disabled @root.system.editLock}} class="compact-input grid-span-2" type='number' name='system.perkPointsCost' value='{{system.perkPointsCost}}' data-dtype='number'/>
    </div>
    <h6 style="margin-top: 5px;">Description</h6>
    {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
    {{#if editable}}
    <prose-mirror style="min-height: 250px;" name="system.description" data-document-u-u-i-d="{{item.uuid}}"
        value="{{system.description}}" collaborate="true" toggled="true">
        {{{enrichedDescription}}}
    </prose-mirror>
    {{else}} {{{enrichedDescription}}}
    {{/if}}
</section>