{{! Spell Tab }}
<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='spell'>
    <div class="compact-grid grid-3col">
        <span>{{localize 'RTR.Item.Ability.FIELDS.usageCost.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.usageCost.rawStringCost' value='{{system.usageCost.rawStringCost}}' data-dtype='text'/>

        <span>{{localize 'RTR.Item.Ability.FIELDS.range.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.range' value='{{system.range}}' data-dtype='text'/>

        <span>{{localize 'RTR.Item.Ability.FIELDS.targets.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.targets' value='{{system.targets}}' data-dtype='text'/>

        <span>{{localize 'RTR.Item.Ability.FIELDS.duration.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.duration' value='{{system.duration}}' data-dtype='text'/>

        <span>{{localize 'RTR.Item.Spell.FIELDS.spellDifficulty.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.spellDifficulty' value='{{system.spellDifficulty}}' data-dtype='text'/>

        <span>{{localize 'RTR.Item.Spell.FIELDS.components.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.components' value='{{system.components}}' data-dtype='text'/>
    </div>
    <h6 style="margin-top: 5px;">Description</h6>
    {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
    {{#if editable}}
    <prose-mirror name="system.description" data-document-u-u-i-d="{{item.uuid}}"
        value="{{system.description}}" collaborate="true" toggled="true">
        {{{enrichedDescription}}}
    </prose-mirror>
    {{else}} {{{enrichedDescription}}}
    {{/if}}
</section>