{{! Spell Tab }}
<section class='tab {{tab.cssClass}}' data-group='primary' data-tab='spell'>
    <div class="compact-grid grid-3col">
        <span class="{{#unless @root.system.editLock}}rollable{{/unless}}" 
            {{#unless @root.system.editLock}} data-action='editUsageCost'{{/unless}}>
            {{localize 'RTR.Item.Ability.FIELDS.usageCost.label'}}
        </span>
        <div class="grid-span-2">
            {{#each (formatAbilityCost system.usageCost) as |cost key|}}
                <span class="useage-cost-text">{{cost}}</span>
            {{/each}}
        </div>

        <span>{{localize 'RTR.Item.Ability.FIELDS.range.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.range' {{disabled @root.system.editLock}} value='{{system.range}}' data-dtype='text'/>

        <span>{{localize 'RTR.Item.Ability.FIELDS.targets.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.targets' {{disabled @root.system.editLock}} value='{{system.targets}}' data-dtype='text'/>

        <span>{{localize 'RTR.Item.Ability.FIELDS.duration.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.duration' {{disabled @root.system.editLock}} value='{{system.duration}}' data-dtype='text'/>

        <span>{{localize 'RTR.Item.Ability.FIELDS.formula.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.formula' {{disabled @root.system.editLock}} value='{{system.formula}}' data-dtype='text'/>

        <span>{{localize 'RTR.Item.Spell.FIELDS.spellDifficulty.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.spellDifficulty' {{disabled @root.system.editLock}} value='{{system.spellDifficulty}}' data-dtype='text'/>

        <span>{{localize 'RTR.Item.Spell.FIELDS.components.label'}}</span>
        <input class="compact-input grid-span-2" type='text' name='system.components' {{disabled @root.system.editLock}} value='{{system.components}}' data-dtype='text'/>
    </div>
    <h6 style="margin-top: 5px;">Description</h6>
    {{! Editors must receive enriched text data from getData to properly handle rolls, UUID links, etc. }}
    {{#if editable}}
    <prose-mirror style="min-height: 200px;" name="system.description" data-document-u-u-i-d="{{item.uuid}}"
        value="{{system.description}}" collaborate="true" toggled="true">
        {{{enrichedDescription}}}
    </prose-mirror>
    {{else}} {{{enrichedDescription}}}
    {{/if}}
</section>