{{! Abilities Tab }}
<section class='tab abilities {{tab.cssClass}}' data-group='primary' data-tab='abilities'>

  <div class="abilities-container">
    {{#if (eq actor.type 'character')}}
      <h5 style="margin-top: 10px;">Class Techniques</h5>
      <div style="margin-top: 5px;" class="flexrow">
        <div class="tooltip">
          <input type='number' disabled="true" name='system.knownAbilities.knownClassTechniques' value='{{system.knownAbilities.knownClassTechniques}}' data-dtype='Number'/>
          <span class="tooltiptext">Known Class Techniques</span>
        </div>
        <div class="tooltip">
          <input type='text' name='system.classResource' value='{{system.classResource}}' data-dtype='Text'/>
          <span class="tooltiptext">Class Resource Tracker</span>
        </div>
      </div>
      <ol class='items-list'>
        <li class='item flexrow items-header'>
          <div class='item-name'>{{localize 'Name'}}</div>
          <div class='item-controls'>
            {{#if @root.editable}}
            <a class='item-control item-create' title='{{localize "DOCUMENT.Create" type='classTechnique'}}'
              data-action='createDoc' data-document-class='Item' data-type='classTechnique'>
              <i class='fas fa-plus'></i>
            </a>
            {{/if}}
          </div>
        </li>
        {{#each classTechniques as |item id|}}
        <li class='item flexrow' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
          <div class='item-name flexrow'>
            <div class='item-image'>
              <a class='rollable' data-roll-type='item' data-action='viewDoc'>
                <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
              </a>
            </div>
            <div class="rollable" data-action='viewDoc'>{{item.name}}</div>
          </div>
          <div>
            <span class="rollable" data-action='viewDoc'>{{item.system.usageCost.rawStringCost}}</span>
          </div>
          <div class='item-controls'>
            {{#if @root.editable}}
            <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type='classTechnique'}}'
              data-action='deleteDoc'>
              <i class='fas fa-trash'></i>
            </a>
            {{/if}}
          </div>
        </li>
        {{/each}}
      </ol>
  
      <!-- MARTIAL MANEUVERS -->
        <hr>
        <h5 style="margin-top: 0px;">Martial Maneuvers</h5>
        <div style="margin-top: 5px;" class="flexrow">
          <div style="margin-right: 5px;" class="tooltip">
            <input type='number' disabled="true" name='system.knownAbilities.knownMartialManeuvers' value='{{system.knownAbilities.knownMartialManeuvers}}' data-dtype='Number'/>
            <span class="tooltiptext">Known Martial Maneuvers</span>
          </div>
          <div style="margin-left: 5px;margin-right: 5px;">
            <div class="tooltip rollable-container">
              <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28'
                  data-action='roll'
                  data-roll='d20 + @meleeMartialAttack - @exhh'
                  data-label='Meele Martial Attack'
              >
              <span class="rollable-text-centered" 
                  data-action='roll'
                  data-roll='d20 + @meleeMartialAttack - @exh'
                  data-label='Meele Martial Attack'
              >{{numberFormat (subtract system.attackBonuses.meleeMartialAttack @root.system.exhaustion) decimals=0}}</span>
              <span class="tooltiptext">Meele Martial Attack Bonus</span>
            </div>
          </div>
          <div style="margin-left: 5px;margin-right: 5px;">
            <div class="tooltip rollable-container">
              <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28'
                  data-action='roll'
                  data-roll='d20 + @rangedMartialAttack - @exhh'
                  data-label='Ranged Martial Attack'
              >
              <span class="rollable-text-centered" 
                  data-action='roll'
                  data-roll='d20 + @rangedMartialAttack - @exh'
                  data-label='Ranged Martial Attack'
              >{{numberFormat (subtract system.attackBonuses.rangedMartialAttack @root.system.exhaustion) decimals=0}}</span>
              <span class="tooltiptext">Ranged Martial Attack Bonus</span>
            </div>
          </div>
          <div class="tooltip" style="margin-left: 5px;margin-right: 5px;">
            <input type='text' disabled="true" name='system.martialDamage.light' value='{{system.martialDamage.light}}' data-dtype='text'/>
            <span class="tooltiptext">Light Martial Damage</span>
          </div>
          <div class="tooltip" style="margin-left: 5px;margin-right: 5px;">
            <input type='text' disabled="true" name='system.martialDamage.medium' value='{{system.martialDamage.medium}}' data-dtype='text'/>
            <span class="tooltiptext">Medium Martial Damage</span>
          </div>
          <div class="tooltip" style="margin-right: 5px;">
            <input type='text' disabled="true" name='system.martialDamage.heavy' value='{{system.martialDamage.heavy}}' data-dtype='text'/>
            <span class="tooltiptext">Heavy Martial Damage</span>
          </div>
        </div>
      {{#if (neq system.levels.martialProficency 0)}}
        <ol class='items-list'>
          <li class='item flexrow items-header'>
            <div class='item-name'>{{localize 'Name'}}</div>
            <div class='item-controls'>
              {{#if @root.editable}}
              <a class='item-control item-create' title='{{localize "DOCUMENT.Create" type='martialManeuver'}}'
                data-action='createDoc' data-document-class='Item' data-type='martialManeuver'>
                <i class='fas fa-plus'></i>
              </a>
              {{/if}}
            </div>
          </li>
          {{#each martialManeuvers as |item id|}}
          <li class='item flexrow' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
            <div class='item-name flexrow'>
              <div class='item-image'>
                <a class='rollable' data-roll-type='item' data-action='viewDoc'>
                  <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                </a>
              </div>
              <div class="rollable" data-action='viewDoc'>{{item.name}}</div>
            </div>
            <div>
              <span class="rollable" data-action='viewDoc'>{{item.system.usageCost.rawStringCost}}</span>
            </div>
            <div class='item-controls'>
              {{#if @root.editable}}
              <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type='martialManeuver'}}'
                data-action='deleteDoc'>
                <i class='fas fa-trash'></i>
              </a>
              {{/if}}
            </div>
          </li>
          {{/each}}
        </ol>
      {{/if}}

      <!-- SPELLS -->
      {{#if (neq system.levels.spellProficency 0)}}
        <hr>
        <h5 style="margin-top: 0px;">Spells</h5>
        <div style="margin-top: 5px;" class="flexrow">
          <div class="tooltip" style="margin-right: 10px;">
            <input type='number' disabled="true" name='system.knownAbilities.knownSpells' value='{{system.knownAbilities.knownSpells}}' data-dtype='Number'/>
            <span class="tooltiptext">Known Spells</span>
          </div>
          <div style="margin-left: 10px;margin-right: 10px;">
            <div class="tooltip rollable-container">
              <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28'
                  data-action='roll'
                  data-roll='d20 + @meleeSpellAttack - @exhh'
                  data-label='Meele Spell Attack'
              >
              <span class="rollable-text-centered" 
                  data-action='roll'
                  data-roll='d20 + @meleeSpellAttack - @exh'
                  data-label='Meele Spell Attack'
              >{{numberFormat (subtract system.attackBonuses.meleeSpellAttack @root.system.exhaustion) decimals=0}}</span>
              <span class="tooltiptext">Meele Spell Attack Bonus</span>
            </div>
          </div>
          <div style="margin-left: 10px;">
            <div class="tooltip rollable-container">
              <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28'
                  data-action='roll'
                  data-roll='d20 + @rangedSpellAttack - @exhh'
                  data-label='Ranged Spell Attack'
              >
              <span class="rollable-text-centered" 
                  data-action='roll'
                  data-roll='d20 + @rangedSpellAttack - @exh'
                  data-label='Ranged Spell Attack'
              >{{numberFormat (subtract system.attackBonuses.rangedSpellAttack @root.system.exhaustion) decimals=0}}</span>
              <span class="tooltiptext">Ranged Spell Attack Bonus</span>
            </div>
          </div>
        </div>
        <ol class='items-list'>
          <li class='item flexrow items-header'>
            <div class='item-name'>{{localize 'Name'}}</div>
            <div class='item-controls'>
              {{#if @root.editable}}
              <a class='item-control item-create' title='{{localize "DOCUMENT.Create" type='spell'}}'
                data-action='createDoc' data-document-class='Item' data-type='spell'>
                <i class='fas fa-plus'></i>
              </a>
              {{/if}}
            </div>
          </li>
          {{#each spells as |item id|}}
          <li class='item flexrow' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
            <div class='item-name flexrow'>
              <div class='item-image'>
                <a class='rollable' data-action='viewDoc'>
                  <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
                </a>
              </div>
              <div class="rollable" data-action='viewDoc'>{{item.name}} ({{item.system.spellDifficulty}})</div>
            </div>
            <div>
              <span class="rollable" data-action='viewDoc'>{{item.system.usageCost.rawStringCost}}</span>
            </div>
            <div class='item-controls'>
              {{#if @root.editable}}
              <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type='spell'}}'
                data-action='deleteDoc'>
                <i class='fas fa-trash'></i>
              </a>
              {{/if}}
            </div>
          </li>
          {{/each}}
        </ol>
      {{/if}}
    {{/if}}

    <!-- CORE ABILITIES -->
    <hr>
    <h5 style="margin-top: 0px;">Core Abilities</h5>
    <ol class='items-list'>
      <li class='item flexrow items-header'>
        <div class='item-name'>{{localize 'Name'}}</div>
        <div class='item-controls'>
          {{#if @root.editable}}
          <a class='item-control item-create' title='{{localize "DOCUMENT.Create" type=' ability'}}'
            data-action='createDoc' data-document-class='Item' data-type='ability'>
            <i class='fas fa-plus'></i>
          </a>
          {{/if}}
        </div>
      </li>
      {{#each abilities as |item id|}}
      <li class='item flexrow' data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
        <div class='item-name flexrow'>
          <div class='item-image'>
            <a class='rollable' data-action='viewDoc'>
              <img src='{{item.img}}' title='{{item.name}}' width='24' height='24' />
            </a>
          </div>
          <div class="rollable" data-action='viewDoc'>{{item.name}}</div>
        </div>
        <div>
          <span class="rollable" data-action='viewDoc'>{{item.system.usageCost.rawStringCost}}</span>
        </div>
        <div class='item-controls'>
          {{#if @root.editable}}
          <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type='ability'}}'
            data-action='deleteDoc'>
            <i class='fas fa-trash'></i>
          </a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</section>