{{! Character Overview Tab }}
<section class='tab character-overview character-overview-scrollable {{tab.cssClass}}' data-group='primary' data-tab='characteroverview'>
  <div class='grid grid-5col'>

    <div class="flexcol">
      <h6 class="headline">Levels</h6>
      <div class="tooltip" style="margin-bottom: 5px;">
        <div class="flexrow">
          <img src='/icons/svg/mystery-man.svg' height='24' width='24'>
          <input type='text' disabled='true' name='system.levels.level' value='{{system.levels.level}}' data-dtype='Number' />
        </div>
        <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.levels.level.label'}}</span>
      </div>

      <div class="tooltip" style="margin-bottom: 5px;">
        <div class="flexrow">
          <img src='/icons/svg/sword.svg' height='24' width='24'>
          <input type='text' disabled='true' name='system.levels.martialLevel' value='{{system.levels.martialLevel}}'
            data-dtype='Number' />
        </div>
        <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.levels.martialLevel.label'}}</span>
      </div>

      <div class="tooltip" style="margin-bottom: 5px;">
        <div class="flexrow">
          <img src='/icons/svg/mage-shield.svg' height='24' width='24'>
          <input type='text' disabled='true' name='system.levels.spellLevel' value='{{system.levels.spellLevel}}'
            data-dtype='Number' />
        </div>
        <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.levels.spellLevel.label'}}</span>
      </div>

      <div class="tooltip" style="margin-bottom: 5px;">
        <div class="flexrow">
          <img src='/icons/svg/clockwork.svg' height='24' width='24'>
          <input type='text' disabled='true' name='system.ap' value='{{system.ap}}' data-dtype='Number' />
        </div>
        <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.ap.label'}}</span>
      </div>

      <div class="tooltip" style="margin-bottom: 5px;">
        <div class="flexrow">
          <img src='/icons/svg/wingfoot.svg' height='24' width='24'>
          <input type='text' disabled='true' name='system.mp' value='{{system.mp}}' data-dtype='Number' />
        </div>
        <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.mp.label'}}</span>
      </div>
    </div>

    <div class="grid-span-3">
      <h6 class="headline">Biography</h6>
      {{#if editable}}
      <prose-mirror name="system.biography" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.biography}}"
        collaborate="true" toggled="true">
        {{{enrichedBiography}}}
      </prose-mirror>
      {{else}} {{{enrichedBiography}}}
      {{/if}}
    </div>

    <div class="flexcol">
      <h6 class="headline">Defenses</h6>

      <div class="tooltip bordered-characteristic">
        <div class="flexrow">
          <div>
            <img src='/systems/reclaim-the-realm/assets/icons/actor/weight-lifting-up.svg' height='24' width='24'>
          </div>
          <div class="rollable-container">
            <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28'
              data-action='saveTest' data-save='stability'>
            <span class="rollable-text-centered" data-action='saveTest' data-save='stability'> {{numberFormat
              system.defenses.stability decimals=0 }} </span>
          </div>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.stability.label'}}</span>
        </div>
      </div>

      <div class="tooltip bordered-characteristic">
        <div class="flexrow">
          <div>
            <img src='/systems/reclaim-the-realm/assets/icons/actor/dodging.svg' height='24' width='24'>
          </div>
          <div class="rollable-container">
            <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28'
              data-action='saveTest' data-save='dodge'>
            <span class="rollable-text-centered" data-action='saveTest' data-save='dodge'>
              {{numberFormat system.defenses.dodge decimals=0 }}
            </span>
          </div>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.dodge.label'}}</span>
        </div>
      </div>

      <div class="tooltip bordered-characteristic">
        <div class="flexrow">
          <div>
            <img src='/systems/reclaim-the-realm/assets/icons/actor/muscular-torso.svg' height='24' width='24'>
          </div>
          <div class="rollable-container">
            <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28'
              data-action='saveTest' data-save='toughness'>
            <span class="rollable-text-centered" data-action='saveTest' data-save='toughness'>
              {{numberFormat system.defenses.toughness decimals=0 }}
            </span>
          </div>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.toughness.label'}}</span>
        </div>
      </div>

      <div class="tooltip bordered-characteristic">
        <div class="flexrow">
          <div>
            <img src='/systems/reclaim-the-realm/assets/icons/actor/brain.svg' height='24' width='24'>
          </div>
          <div class="rollable-container">
            <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28'
              data-action='saveTest' data-save='willpower'>
            <span class="rollable-text-centered" data-action='saveTest' data-save='willpower'>
              {{numberFormat system.defenses.willpower decimals=0 }}
            </span>
          </div>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.willpower.label'}}</span>
        </div>
      </div>

      <div class="tooltip bordered-characteristic">
        <div class="flexrow">
          <div>
            <img src='/icons/svg/shield.svg' height='24' width='24'>
          </div>
          <div>
            <span class='rollable rollable-defense' data-action='saveTest' data-save='shieldblock'>
              {{numberFormat system.defenses.shieldBlock decimals=0 sign=true}}/{{numberFormat
              system.defenses.shieldBlockThreshold decimals=0}}
            </span>
          </div>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.shieldBlock.label'}}</span>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h6 class='headline'>Resistances:</h6>
  <div class="grid grid-3col">
    {{#each system.resistances as |resistance key|}}
      <div class="flexrow">
        <input disabled='true' style="flex-grow: 5;" type='text' value='{{resistance.damageType}}: {{resistance.value}}' />
        {{#unless @root.system.editLock}}
          <input type="button" value="-" class="delete-btn" data-action='deleteDamageResistance' data-dmgtype='{{resistance.damageType}}' />
        {{/unless}}
      </div>
    {{/each}}
    {{#unless @root.system.editLock}}
      <input type="button" value="+" class="add-btn" data-action='addDamageResistance' />
    {{/unless}}
  </div>

  <h6 class='headline'>Alignment:</h6>
  <input type='text' {{disabled @root.system.editLock}} id='system.alignment' name='system.alignment' value='{{system.alignment}}' />

  <hr>

  <h6 class="headline">Short Rest</h6>
  <div class="flexrow flex-group-center">
    <button style="margin-right: 10px" data-action='shortRestHpRecovery' {{disabled (eq system.stamina.value 0)}}>
      <img src="/icons/svg/regen.svg" alt="Short Rest HP Recovery" height='16' width='16'>
      <span>HP Recovery</span>
    </button>
    <button style="margin-left: 10px; margin-right: 10px" data-action='shortRestArcanaRecovery' {{disabled (eq
      system.stamina.value 0)}}>
      <img src="/systems/reclaim-the-realm/assets/icons/actor/sparkles.svg" alt="Short Rest Arcana Recovery"
        height='16' width='16'>
      <span>Arcana Recovery</span>
    </button>
    <button style="margin-left: 10px;" data-action='shortRestExhaustionRecovery' {{disabled (eq system.stamina.value
      0)}} {{disabled (eq system.stamina.value 1)}}>
      <img src="/icons/magic/time/hourglass-tilted-gray.webp" alt="Short Rest Exhaustion Recovery" height='16'
        width='16'>
      <span>Exhaustion Recovery</span>
    </button>
  </div>

  <h6 class="headline">Long Rest</h6>
  <div class="flexrow flex-group-center">
    <button data-action='longRestRecovery'>
      <img src="/icons/svg/sleep.svg" alt="Long Rest" height='16' width='16'>
      <span>Long Rest</span>
    </button>
  </div>
</section>