{{! Data Tab }}
<section class='tab data {{tab.cssClass}}' data-group='primary' data-tab='data'>

  <section class='grid grid-2col data-container'>

    <aside class='sidebar'>
      <div class='flexrow flex-between'>
        <h5>Attributes</h5>
        {{#if (eq @root.actor.type 'character')}}
        <div class="flex-group-center">
            {{#unless system.editLock}}
            <input class="reset-attributes-btn" type="button" data-action='resetAttributes' value='Reset Attributes'/>
            {{/unless}}
        </div>
        {{/if}}
      </div>

      {{#if (eq @root.actor.type 'character')}}
      <div class='flexrow flex-between'>
        <h6>Attribute Points</h6>
        <h6 class="attribute-points">{{ subtract system.attributePoints.totalAttributePoints
          system.attributePoints.usedAttributePoints }}</h6>
      </div>
      {{/if}}

      <div class='attributes grid grid-2col'>
      {{#each system.attributes as |attribute key|}}
        <a 
          class='bold-text align-left {{#if attribute.classAttribute}} class-attribute {{/if}}'
          {{#if attribute.classAttribute}}
            name='system.attributes.{{key}}.unSetClassAttribute'
            title="{{localize 'RTR.Actor.Character.TOOLTIPS.unSetAsClassAttribute.label'}}"
            {{#if (eq @root.actor.type 'character')}} data-action='unSetClassAttribute' {{/if}}
          {{else}}
            name='system.attributes.{{key}}.setClassAttribute'
            title="{{localize 'RTR.Actor.Character.TOOLTIPS.setAsClassAttribute.label'}}"
            {{#if (eq @root.actor.type 'character')}} data-action='setClassAttribute' {{/if}}
          {{/if}}
          {{disabled @root.system.editLock}}
        >
          {{localize (lookup @root.config.attributes key)}}
        </a>
        <div class="flexrow">
          {{#if (eq @root.actor.type 'character')}}
            <input 
              type='text'
              name='system.attributes.{{key}}.value'
              style="flex-grow: 5;"
              value='{{concat attribute.value "/" attribute.attributeMaximum}}'
              disabled='true'
              data-dtype='Number'
            />
            {{#unless @root.system.editLock}}
              <input 
                type="button"
                value="+"
                class="add-btn"
                {{disabled (eq attribute.value attribute.attributeMaximum)}}
                {{disabled (eq (subtract @root.actor.system.attributePoints.totalAttributePoints @root.actor.system.attributePoints.usedAttributePoints) 0)}}
                name='system.attribute.{{key}}.value'
                data-action='increaseAttribute'
              />
            {{/unless}}
          {{else}}
            <input 
              type='number'
              name='system.attributes.{{key}}.value'
              {{disabled @root.system.editLock}}
              value='{{attribute.value}}'
              data-dtype='Number'
            />
          {{/if}}
        </div>
      {{/each}}
      </div>

      <h6>Temporary Attribute Bonus</h6>
      {{#if (eq @root.actor.type 'character')}}
        <div class='grid grid-2col'>
          {{#each system.attributes as |attribute key|}}
            <label class='bold-text'>{{localize (lookup @root.config.attributes key)}}</label>
            <input 
              type='number'
              name='system.attributes.{{key}}.tempReduction'
              value='{{attribute.tempReduction}}'
              {{disabled @root.system.editLock}}
              data-dtype='Number'
            />
          {{/each}}
        </div>
      {{/if}}
    </aside>

    <aside>
      <h5>Character Data</h5>
      <div class="grid grid-2col">
        {{#if (eq @root.actor.type 'character')}}
        <div>
          <label for="system.data.hpPerLevel">HP Per Level:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.data.hpPerLevel' name='system.data.hpPerLevel' value='{{system.data.hpPerLevel}}'/>
        </div>
        <div>
          <label for="system.data.additionalHp">Additional HP:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.data.additionalHp' name='system.data.additionalHp' value='{{system.data.additionalHp}}'/>
        </div>
        {{else}}
        <div>
          <label for="system.hp.max">HP</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.hp.max' name='system.hp.max' value='{{system.hp.max}}'/>
        </div>
        {{/if}}

        <div>
          <label for="system.levels.martialProficency">Martial Level Prof.:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.levels.martialProficency' name='system.levels.martialProficency' value='{{system.levels.martialProficency}}'/>
        </div>
        <div >
          <label for="system.levels.spellProficency">Spell Level Prof.:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.levels.spellProficency' name='system.levels.spellProficency' value='{{system.levels.spellProficency}}'/>
        </div>

        <div>
          <label for="system.defenses.stabilityProficency">Stability Prof.:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.defenses.stabilityProficency' name='system.defenses.stabilityProficency' value='{{system.defenses.stabilityProficency}}'/>
        </div>
        <div >
          <label for="system.defenses.dodgeProficency">Dodge Prof.:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.defenses.dodgeProficency' name='system.defenses.dodgeProficency' value='{{system.defenses.dodgeProficency}}'/>
        </div>

        <div>
          <label for="system.defenses.toughnessProficency">Toughness Prof.:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.defenses.toughnessProficency' name='system.defenses.toughnessProficency' value='{{system.defenses.toughnessProficency}}'/>
        </div>
        <div >
          <label for="system.defenses.willpowerProficency">Willpower Prof.:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.defenses.willpowerProficency' name='system.defenses.willpowerProficency' value='{{system.defenses.willpowerProficency}}'/>
        </div>

        <div>
          <label for="system.defenses.shieldBlockBase">Shield Block:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.defenses.shieldBlockBase' name='system.defenses.shieldBlockBase' value='{{system.defenses.shieldBlockBase}}'/>
        </div>
        <div >
          <label for="system.defenses.shieldBlockThreshold">Shield Thresh.:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.defenses.shieldBlockThreshold' name='system.defenses.shieldBlockThreshold' value='{{system.defenses.shieldBlockThreshold}}'/>
        </div>

        <div>
          <label for="system.data.stabilityBonus">Stability Bonus:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.data.stabilityBonus' name='system.data.stabilityBonus' value='{{system.data.stabilityBonus}}'/>
        </div>
        <div >
          <label for="system.data.dodgeBonus">Dodge Bonus:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.data.dodgeBonus' name='system.data.dodgeBonus' value='{{system.data.dodgeBonus}}'/>
        </div>

        <div>
          <label for="system.data.toughnessProficency">Toughness Bonus:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.data.toughnessProficency' name='system.data.toughnessBonus' value='{{system.data.toughnessBonus}}'/>
        </div>
        <div >
          <label for="system.data.willpowerBonus">Willpower Bonus:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.data.willpowerBonus' name='system.data.willpowerBonus' value='{{system.data.willpowerBonus}}'/>
        </div>

        <div>
          <label for="system.data.movementBonus">Movement Bonus:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.data.movementBonus' name='system.data.movementBonus' value='{{system.data.movementBonus}}'/>
        </div>

        <div>
          <label for="system.data.manoeuvrePenalty">{{localize 'RTR.Item.Equipment.FIELDS.manoeuvrePenalty.label'}}</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.data.manoeuvrePenalty' name='system.data.manoeuvrePenalty' value='{{system.data.manoeuvrePenalty}}'/>
        </div>
        <div >
          <label for="system.data.movementPenalty">{{localize 'RTR.Item.Equipment.FIELDS.movementPenalty.label'}}</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.data.movementPenalty' name='system.data.movementPenalty' value='{{system.data.movementPenalty}}'/>
        </div>

        {{#if (eq @root.actor.type 'character')}}
        <div>
          <label for="system.exhaustion">Exhuastion:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.exhaustion' name='system.exhaustion' value='{{system.exhaustion}}'/>
        </div>
        <div>
          <label for="system.skillPoints.skillPointsPerLevel">Skill Points per Level:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.skillPoints.skillPointsPerLevel' name='system.skillPoints.skillPointsPerLevel' value='{{system.skillPoints.skillPointsPerLevel}}'/>
        </div>
        <div >
          <label for="system.skillPoints.additionalSkillPoints">Extra Skill Points:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.skillPoints.additionalSkillPoints' name='system.skillPoints.additionalSkillPoints' value='{{system.skillPoints.additionalSkillPoints}}'/>
        </div>
        <div>
          <label for="system.attributePoints.additionalAttributePoints">Extra Attr. Points:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.attributePoints.additionalAttributePoints' name='system.attributePoints.additionalAttributePoints' value='{{system.attributePoints.additionalAttributePoints}}'/>
        </div>
        <div >
          <label for="system.perks.additionalPerkPoints">Additional Perks:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='number' id='system.perks.additionalPerkPoints' name='system.perks.additionalPerkPoints' value='{{system.perks.additionalPerkPoints}}'/>
        </div>
        <div >
          <label for="system.martialDamage.attr">MartialDmg Attr.:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='text' id='system.martialDamage.attr' name='system.martialDamage.attr' value='{{system.martialDamage.attr}}'/>
        </div>
        <div >
          <label for="system.martialDamage.penalty">MartialDmg Penalty:</label>
          <input {{disabled @root.system.editLock}} class='compact-input' type='text' id='system.martialDamage.penalty' name='system.martialDamage.penalty' value='{{system.martialDamage.penalty}}'/>
        </div>
        {{/if}}
      </div>
    </aside>

  </section>
</section>