{{! Effects Tab }}
<section
  class='tab effects flexcol {{tab.cssClass}}'
  data-group='primary'
  data-tab='effects'
>

  <div class='compact-grid grid-4col'>
    {{#each effects as |effect idx|}}
    {{#if (eq effect.id "stunned1")}}
        <h6 class="grid-span-4" style="margin-top: 3px;">Detremental Tier I Status Effects</h5>
      {{/if}}
      {{#if (eq effect.id "bless1")}}
        <h6 class="grid-span-4" style="margin-top: 3px;">Beneficial Tier I Status Effects</h5>
      {{/if}}
      <div class="status-effect flexrow flex-between"
        data-action="toggleEffect"
        data-condition-id="{{ effect.id }}"
      >
        <img style="flex-shrink: 3;" src='{{effect.img}}' height="24" width="24"/>
        <div style="flex-grow: 3;" class="tooltip-wide">
          <span class="{{#if effect.disabled}} status-effect-inactive {{else}} status-effect-active {{/if}}" >{{localize effect.name}}</span>
          <span class="tooltiptext-wide">{{localize effect.summary}}</span>
        </div>
      </div>
    {{/each}}
  </div>
</section>