{{! Effects Tab }}
<section
  class='tab effects flexcol {{tab.cssClass}}'
  data-group='primary'
  data-tab='effects'
>

  <div class='compact-grid grid-3col'>
    {{#each effects as |effect idx|}}
      <div class="status-effect flexrow flex-between"
        data-action="toggleEffect"
        data-condition-id="{{ effect.id }}"
      >
        <img style="flex-shrink: 3;" src='{{effect.img}}' height="24" width="24"/>
        <div style="flex-grow: 3;" class="tooltip-wide">
          <div>{{localize effect.name}}</div>
          <span class="tooltiptext-wide">{{localize effect.description}}</span>
        </div>
        {{#if effect.disabled}}
          <i style="flex-shrink: 3;" class="fas fa-toggle-off"></i>
        {{else}}
          <i style="flex-shrink: 3;" class="fas fa-toggle-on"></i>
        {{/if}}
      </div>
    {{/each}}
  </div>
</section>