{{! Equipment Tab }}
<section class='tab equipment {{tab.cssClass}}' data-group='primary' data-tab='equipment'>
  <div style="margin-top: 5px;" class="flexrow">
    <div style="margin-right: 10px;">
      <label class='bold-text'>{{localize 'RTR.Actor.Character.FIELDS.totalCarriedWeight.label'}}</label>
      <input type='text' disabled="true" name='system.inventory' value='{{formatWeight carriedWeightGramm}}' data-dtype='Number'/>
    </div>
    <div style="margin-left: 10px;margin-right: 10px;">
      <label class='bold-text'>{{localize 'RTR.Actor.Character.FIELDS.carryingCapacity.label'}}</label>
      <input type='text' disabled="true" name='system.inventory.carryCapacityKg' value='{{system.inventory.carryCapacityKg}} kg' data-dtype='Number'/>
    </div>
    <div style="margin-left: 10px;">
      <label class='bold-text'>{{localize 'RTR.Actor.Character.FIELDS.liftPushDrag.label'}}</label>
      <input type='text' disabled="true" name='system.inventory.liftPushDragKg' value='{{system.inventory.liftPushDragKg}} kg' data-dtype='Number'/>
    </div>
  </div>
  <div class="equipment-scrollable-table-wrapper">
    <table class="slim-table">
      <thead>
        <tr>
          <th></th>
          <th>{{localize 'Name'}}</th>
          <th>{{localize 'RTR.Item.Equipment.FIELDS.type.label'}}</th>
          <th>{{localize 'RTR.Item.Equipment.FIELDS.quantity.label'}}</th>
          <th>{{localize 'RTR.Item.Equipment.FIELDS.weight.weight.label'}}</th>
          <th>{{localize 'RTR.Item.Equipment.FIELDS.cost.cost.label'}}</th>
          <th>
            {{#if @root.editable}}
            <a
              class='item-control item-create'
              title='{{localize "DOCUMENT.Create" type='Item'}}'
              data-action='createDoc'
              data-document-class='Item'
              data-type='equipment'
            >
              <i class='fas fa-plus'></i>
            </a>
          {{/if}}
          </th>
        </tr>
      </thead>
      <tbody>
        {{#each equipment as |item id|}}
        <tr 
          class='clickable-table-row'
          data-action='viewDoc' 
          data-item-id='{{item._id}}'
          data-drag='true'
          data-document-class='Item'
        >
          <td>
            <img src='{{item.img}}' title='{{item.name}}' width='24' height='24'/>
          </td>
          <td style="max-width: 180px;">{{item.name}}</td>
          <td>{{localize (lookup @root.config.equipmentTypes item.system.type)}}</td>
          <td>{{item.system.quantity}}</td>
          <td>{{formatWeight item.system.totalWeightGramm}}</td>
          <td>{{formatCost item.system.costBc}}</td>
          <td>
            {{#if @root.editable}}
              <a
                class='item-control item-delete'
                title='{{localize "DOCUMENT.Delete" type='Equipment'}}'
                data-action='deleteDoc'
              >
                <i class='fas fa-trash'></i>
              </a>
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <h6 style="margin-top: 10px;">Wealth</h6>
  <div class="flexrow">
      <div class="tooltip" style="margin-right: 10px;">
        <div class="flexrow">
          <img style="margin-right: 5px;" src='/icons/commodities/currency/coins-crown-stack-gold.webp' height='24' width='24'>
          <input style="flex-grow: 5;" type='number' name='system.inventory.gc' value='{{system.inventory.gc}}' data-dtype='Number'/>
        </div>
        <span class="tooltiptext">{{localize 'RTR.Item.Equipment.FIELDS.cost.gc.label'}}</span>
      </div>

      <div class="tooltip" style="margin-right: 10px;margin-left: 10px;">
        <div class="flexrow">
          <img style="margin-right: 5px;"src='/icons/commodities/currency/coins-shield-sword-stack-silver.webp' height='24' width='24'>
          <input style="flex-grow: 5;" type='number' name='system.inventory.sc' value='{{system.inventory.sc}}' data-dtype='Number'/>
        </div>
        <span class="tooltiptext">{{localize 'RTR.Item.Equipment.FIELDS.cost.sc.label'}}</span>
      </div>
      
      <div class="tooltip" style="margin-left: 10px;">
        <div class="flexrow">
          <img style="margin-right: 5px;" src='/icons/commodities/currency/coins-wheat-stack-copper.webp' height='24' width='24'>
          <input style="flex-grow: 5;" type='number' name='system.inventory.bc' value='{{system.inventory.bc}}' data-dtype='Number'/>
        </div>
        <span class="tooltiptext">{{localize 'RTR.Item.Equipment.FIELDS.cost.bc.label'}}</span>
      </div>
</section>