{{! Sheet Header }}
<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    <div class='document-name'>
      <input
        name='name'
        type='text'
        value='{{actor.name}}'
        placeholder='Name'
      />
    </div>

    <div class='resources flex-around flexrow'>

      <div class='resource flex-group-center'>
        <label for='system.health.value' class='resource-label'>
          {{localize 'RTR.Actor.base.FIELDS.health.value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <span id='system.health.value'>{{system.health.value}}</span>
          <span> / </span>
          <span id='system.health.max'>{{system.health.max}}</span>
        </div>
        <div class='resource-content flexrow flex-center flex-between'>
          <a data-action='decreaseHp'>&lt;</a>
          <meter value='{{system.health.value}}' max='{{system.health.max}}'></meter>
          <a data-action='increaseHp'>&gt;</a>
        </div>
      </div>

      <div class='resource flex-group-center'>
        <label for='system.power.value' class='resource-label'>
          {{localize 'RTR.Actor.base.FIELDS.power.value.label'}}
        </label>
        <div class='resource-content flexrow flex-center flex-between'>
          <input
            type='text'
            name='system.power.value'
            value='{{system.power.value}}'
            data-dtype='Number'
          />
          <span> / </span>
          <input
            type='text'
            name='system.power.max'
            value='{{system.power.max}}'
            data-dtype='Number'
          />
        </div>
      </div>

      <div class='resource flex-group-center'>
        {{#if (eq actor.type 'character')}}
          <label class='resource-label'>
            {{localize 'RTR.Actor.Character.FIELDS.attributes.level.value.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input
              type='text'
              name='system.attributes.level.value'
              value='{{system.attributes.level.value}}'
              data-dtype='Number'
            />
          </div>
        {{/if}}
        {{#if (eq actor.type 'npc')}}
          <label class='resource-label'>
            {{localize 'RTR.Actor.NPC.FIELDS.cr.label'}} / {{localize 'RTR.Actor.NPC.xp.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input
              type='text'
              name='system.cr'
              value='{{system.cr}}'
              data-dtype='Number'
            />
            <span></span>
            <input
              type='text'
              disabled='true'
              name='system.xp'
              value='{{system.xp}}'
              data-dtype='Number'
            />
          </div>
        {{/if}}
      </div>
    </div>

    <div class='abilities flexrow align-center'>
        {{#each system.abilities as |ability key|}}
          <div class='ability flexcol flex-group-center'>
            <label
              class='resource-label rollable flexlarge'
              data-action='roll'
              data-roll='d20+@abilities.{{key}}.mod'
              data-label='{{localize (lookup @root.config.abilityAbbreviations key)}}'
            >{{localize (lookup @root.config.abilityAbbreviations key)}}</label>
            <input
              type='text'
              name='system.abilities.{{key}}.value'
              value='{{ability.value}}'
              class="ability-score"
              data-dtype='Number'
            />
            <span
              class='ability-mod rollable'
              data-action='roll'
              data-roll='d20+@abilities.{{key}}.mod'
              data-label='{{localize (lookup @root.config.abilities key)}}'
            >{{numberFormat ability.mod decimals=0 sign=true}}</span>
          </div>
        {{/each}}
      </div>
    </aside>
  </div>
</header>