{{! Sheet Header }}
<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    <div class='grid grid-3col' style="margin-bottom: 5px;">
      <input
        style='margin-right: 1em;'
        name='name'
        type='text'
        value='{{actor.name}}'
        placeholder='Name'
      />

      {{#if (eq actor.type 'character')}}
      <div class='grid-span-2 resource flexrow flex-group-center'>
        <span>{{localize 'RTR.Actor.Character.FIELDS.xp.label'}}</span>
        <div class="resource-gauge-wrapper" style="flex-grow: 5;">
          <meter 
            class='resource-gauge resource-guage-gold'
            value='{{system.xp.total}}'
            min='{{system.xp.prevMilestone}}'
            max='{{system.xp.nextMilestone}}'
          ></meter>
          <span class="resource-gauge-text">{{system.xp.total}}/{{system.xp.nextMilestone}}</span>
        </div>
         <input 
            type="button"
            value="+"
            class="add-xp-btn"
            name='system.xp.increase'
            data-action='addXp'
          />
      </div>
      {{/if}}

      {{#if (eq actor.type 'npc')}}
      <div class='resource flex-group-center flexrow'>
          <label class='bold-text'>
            {{localize 'RTR.Actor.NPC.FIELDS.xpReward.label'}}: 
          </label>
          <input
            type='text'
            disabled='true'
            name='system.xp'
            value='{{system.xpReward}}'
            data-dtype='Number'>
      </div>
      {{/if}}
    </div>

    <div class='resources flex-around flexrow' style="margin-bottom: 5px;">

      <div class='resource-group flex-group-center' style="flex-grow: 3;">
        <div class="flexrow flex-group-center">
          <label for='system.hp' class='bold-text'>
            {{localize 'RTR.Actor.base.FIELDS.hp.value.label'}}
          </label>
          <div class='resource-content'>
            <span id='system.hp'>{{system.hp.value}}/{{system.hp.max}}</span>
          </div>
        </div>
        <div class='resource-content flexrow flex-center'>
          <a class="resource-btn" data-action='decreaseHp'>-</a>
          <meter 
            class='resource-gauge resource-guage-red'
            value='{{system.hp.value}}'
            max='{{system.hp.max}}'
            low='{{divideCeil system.hp.max 5}}'
          ></meter>
          <a class="resource-btn" data-action='increaseHp'>+</a>
        </div>
      </div>

      <div class='resource-group flex-group-center' style="flex-shrink: 3;">
        <label for='system.tempHp' class='bold-text'>
          {{localize 'RTR.Actor.base.FIELDS.tempHp.label'}}
        </label>
        <input
            style='color: cyan; text-align:center'
            type='text'
            name='system.tempHp'
            value='{{system.tempHp}}'
            data-dtype='Number'
          />
      </div>

      {{#if (eq actor.type 'character')}}
        <div class='resource-group flex-group-center' style="flex-grow: 3;">
          <div class="flexrow flex-group-center">
            <label for='system.stamina' class='bold-text'>
              {{localize 'RTR.Actor.base.FIELDS.stamina.value.label'}}
            </label>
            <div class='resource-content'>
              <span id='system.stamina'>{{system.stamina.value}}/{{system.stamina.max}}</span>
            </div>
          </div>
          <div class='resource-content flexrow flex-center'>
            <a class="resource-btn" data-action='decreaseStamina'>-</a>
            <meter
                class='resource-gauge resource-guage-green'
                value='{{system.stamina.value}}'
                max='{{system.stamina.max}}'
                low='{{divideCeil system.stamina.max 5}}'
            ></meter>
            <a class="resource-btn" data-action='increaseStamina'>+</a>
          </div>
        </div>
      {{/if}}

      {{#if (eq actor.type 'character')}}
        <div class='resource-group flex-group-center' style="flex-grow: 3;">
          <div class="flexrow flex-group-center">
            <label for='system.arcana' class='bold-text'>
              {{localize 'RTR.Actor.base.FIELDS.arcana.value.label'}}
            </label>
            <div class='resource-content'>
              <span id='system.arcana'>{{system.arcana.value}}/{{system.arcana.max}}</span>
            </div>
          </div>
          <div class='resource-content flexrow flex-center'>
            <a class="resource-btn" data-action='decreaseArcana'>-</a>
            <meter
              class='resource-gauge resource-guage-blue'
              value='{{system.arcana.value}}'
              max='{{system.arcana.max}}'
              low='{{divideCeil system.arcana.max 5}}'
            ></meter>
            <a class="resource-btn" data-action='increaseArcana'>+</a>
          </div>
        </div>
      {{/if}}
    </div>
  </div>
  
  <table class="attributes">
      <thead>
        <tr class="flex-group-center">
          {{#each system.attributes as |attribute key|}}
            {{#if (eq key 'agi')}}
            <th
              class='rollable'
              data-action='roll'
              data-roll='d20 + @attributes.{{key}}.value - @exh - @manoeuvrePenalty'
              data-label='{{localize (lookup @root.config.attributeAbbreviations key)}}'
            >{{localize (lookup @root.config.attributeAbbreviations key)}}</th>
            {{else}}
            <th
              class='rollable'
              data-action='roll'
              data-roll='d20 + @attributes.{{key}}.value - @exh'
              data-label='{{localize (lookup @root.config.attributeAbbreviations key)}}'
            >{{localize (lookup @root.config.attributeAbbreviations key)}}</th>
            {{/if}}
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr class="flex-group-center">
          {{#each system.attributes as |attribute key|}}
            {{#if (eq key 'agi')}}
            <td
              class='rollable'
              data-action='roll'
              data-roll='d20 + @attributes.{{key}}.value - @exh - @manoeuvrePenalty'
              data-label='{{localize (lookup @root.config.attributes key)}}'
            >{{numberFormat attribute.value decimals=0}}</td>
            {{else}}
            <td
              class='rollable'
              data-action='roll'
              data-roll='d20 + @attributes.{{key}}.value - @exh'
              data-label='{{localize (lookup @root.config.attributes key)}}'
            >{{numberFormat attribute.value decimals=0}}</td>
            {{/if}}
          {{/each}}
        </tr>
      </tbody>
    </table>
</header>