{{! Sheet Header }}
<header class='sheet-header'>
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-edit='img'
    data-action='onEditImage'
    title='{{actor.name}}'
    height='100'
    width='100'
  />
  <div class='header-fields'>
    <div class='document-name flexrow' style="margin-bottom: 1em;">
      <input
        name='name'
        type='text'
        value='{{actor.name}}'
        placeholder='Name'
      />
      <label class='resource-label'>
          {{localize 'RTR.Actor.Character.FIELDS.levels.level.label'}}
      </label>
      <div class='resource-content flexrow flex-center flex-between'>
        <input
          type='text'
          name='system.levels.level'
          value='{{system.levels.level}}'
          data-dtype='Number'
        />
      </div>
    </div>

    <div class='resources flex-around flexrow' style="margin-bottom: 1em;">

      <div class='resource flex-group-center'>
        <label for='system.hp.value' class='resource-label'>
          {{localize 'RTR.Actor.base.FIELDS.hp.value.label'}}
        </label>
        <div class='resource-content flexrow flex-center'>
          <span id='system.hp.value'>{{system.hp.value}}</span>
          <span> / </span>
          <span id='system.hp.max'>{{system.hp.max}}</span>
        </div>
        <div class='resource-content flexrow flex-center'>
          <a data-action='decreaseHp'>&lt;</a>
          <meter value='{{system.hp.value}}' max='{{system.hp.max}}'></meter>
          <a data-action='increaseHp'>&gt;</a>
        </div>
      </div>

      {{#if (eq actor.type 'character')}}
        <div class='resource flex-group-center'>
          <label for='system.stamina.value' class='resource-label'>
            {{localize 'RTR.Actor.base.FIELDS.stamina.value.label'}}
          </label>
          <div class='resource-content flexrow flex-center'>
            <span id='system.stamina.value'>{{system.stamina.value}}</span>
            <span> / </span>
            <span id='system.stamina.max'>{{system.stamina.max}}</span>
          </div>
          <div class='resource-content flexrow flex-center'>
            <a data-action='decreaseStamina'>&lt;</a>
            <meter value='{{system.stamina.value}}' max='{{system.stamina.max}}'></meter>
            <a data-action='increaseStamina'>&gt;</a>
          </div>
        </div>
      {{/if}}

      <div class='resource flex-group-center'>
        {{#if (eq actor.type 'npc')}}
          <label class='resource-label'>
            {{localize 'RTR.Actor.NPC.FIELDS.cr.label'}} / {{localize 'RTR.Actor.NPC.xp.label'}}
          </label>
          <div class='resource-content flexrow flex-center flex-between'>
            <input
              type='text'
              name='system.cr'
              value='{{system.cr}}'
              data-dtype='Number'
            />
            <span></span>
            <input
              type='text'
              disabled='true'
              name='system.xp'
              value='{{system.xp}}'
              data-dtype='Number'
            />
          </div>
        {{/if}}
      </div>
    </div>

    <table>
      <thead>
        <tr class="flex-group-center">
          {{#each system.attributes as |attribute key|}}
            <th
              class='rollable'
              data-action='roll'
              data-roll='d20+@attributes.{{key}}.value'
              data-label='{{localize (lookup @root.config.attributeAbbreviations key)}}'
            >{{localize (lookup @root.config.attributeAbbreviations key)}}</th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr class="flex-group-center">
          {{#each system.attributes as |attribute key|}}
            <td
              class='rollable'
              data-action='roll'
              data-roll='d20+@attributes.{{key}}.value'
              data-label='{{localize (lookup @root.config.attributes key)}}'
            >{{numberFormat attribute.value decimals=0}}</td>
          {{/each}}
        </tr>
      </tbody>
    </table>
  </div>
</header>