{{! NPC Overview Tab }}
<section class='tab npc-overview {{tab.cssClass}}' data-group='primary' data-tab='npcoverview'>
  <div class='npc-overview-container'>
    <div class='grid grid-5col'>

      <div class="flexcol">
        <h6 class="headline">Levels</h6>
        <div class="tooltip" style="margin-bottom: 5px;">
          <div class="flexrow">
            <img src='/icons/svg/mystery-man.svg' height='24' width='24'>
            <input type='number' {{disabled @root.system.editLock}} name='system.levels.level' value='{{system.levels.level}}' data-dtype='Number' />
          </div>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.levels.level.label'}}</span>
        </div>

        <div class="tooltip" style="margin-bottom: 5px;">
          <div class="flexrow">
            <img src='/icons/svg/sword.svg' height='24' width='24'>
            <input type='text' disabled='true' name='system.levels.martialLevel' value='{{system.levels.martialLevel}}' data-dtype='Number' />
          </div>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.levels.martialLevel.label'}}</span>
        </div>

        <div class="tooltip" style="margin-bottom: 5px;">
          <div class="flexrow">
            <img src='/icons/svg/mage-shield.svg' height='24' width='24'>
            <input type='text' disabled='true' name='system.levels.spellLevel' value='{{system.levels.spellLevel}}' data-dtype='Number' />
          </div>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.levels.spellLevel.label'}}</span>
        </div>

        <div class="tooltip" style="margin-bottom: 5px;">
          <div class="flexrow">
            <img src='/icons/svg/clockwork.svg' height='24' width='24'>
            <input type='text' disabled='true' name='system.ap' value='{{system.ap}}' data-dtype='Number' />
          </div>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.ap.label'}}</span>
        </div>

        <div class="tooltip" style="margin-bottom: 5px;">
          <div class="flexrow">
            <img src='/icons/svg/wingfoot.svg' height='24' width='24'>
            <input type='text' disabled='true' name='system.mp' value='{{system.mp}}' data-dtype='Number' />
          </div>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.mp.label'}}</span>
        </div>
      </div>

      <div class="grid-span-3">
        <h6 class="headline">Traits</h6>
        <table class="slim-table">
          <thead>
            <tr>
              <th></th>
              <th>{{localize 'Name'}}</th>
              <th>{{localize 'Description'}}</th>
              {{#if @root.editable}}
              <th>
                  <a 
                      class='item-control item-create'
                      title='{{localize 'DOCUMENT.New' type='npcTrait'}}'
                      data-action='createDoc'
                      data-document-class='Item' data-type='npcTrait'>
                      <i class='fas fa-plus'></i>
                  </a>
              </th>
              {{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each npcTraits as |item id|}}
            <tr class='clickable-table-row' data-action='viewDoc'  data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
              <td>
                  <img src='{{item.img}}' title='{{item.name}}' width='24' height='24'/>
              </td>
              <td style="max-width: 80px;">{{item.name}}</td>
              <td style="max-width: 150px;">{{item.system.summary}}</td>
              {{#if @root.editable}}
              <td>
                  {{#unless @root.system.editLock}}
                  <a
                      class='item-control item-delete'
                      title='{{localize "DOCUMENT.Delete" type='npcTrait'}}'
                      data-action='deleteDoc'
                  >
                      <i class='fas fa-trash'></i>
                  </a>
                  {{/unless}}
              </td>
              {{/if}}
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>

      <div class="flexcol">
        <h6 class="headline">Defenses</h6>

        <div class="tooltip bordered-characteristic">
          <div class="flexrow">
            <div>
              <img src='/systems/reclaim-the-realm/assets/icons/actor/weight-lifting-up.svg' height='24' width='24'>
            </div>
            <span class='rollable-defense' name='system.defenses.stability'>
              {{numberFormat (add 10 system.defenses.stability) decimals=0}}
            </span>
            <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.stability.label'}}</span>
          </div>
        </div>

        <div class="tooltip bordered-characteristic">
          <div class="flexrow">
            <div>
              <img src='/systems/reclaim-the-realm/assets/icons/actor/dodging.svg' height='24' width='24'>
            </div>
            <span class='rollable-defense' name='system.defenses.dodge'>
              {{numberFormat (add 10 system.defenses.dodge) decimals=0}}
            </span>
            <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.dodge.label'}}</span>
          </div>
        </div>

        <div class="tooltip bordered-characteristic">
          <div class="flexrow">
            <div>
              <img src='/systems/reclaim-the-realm/assets/icons/actor/muscular-torso.svg' height='24' width='24'>
            </div>
            <span class='rollable-defense' name='system.defenses.toughness'>
              {{numberFormat (add 10 system.defenses.toughness) decimals=0}}
            </span>
            <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.toughness.label'}}</span>
          </div>
        </div>

        <div class="tooltip bordered-characteristic">
          <div class="flexrow">
            <div>
              <img src='/systems/reclaim-the-realm/assets/icons/actor/brain.svg' height='24' width='24'>
            </div>
            <span class='rollable-defense' name='system.defenses.willpower'>
              {{numberFormat (add 10 system.defenses.willpower) decimals=0}}
            </span>
            <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.willpower.label'}}</span>
          </div>
        </div>

        <div class="tooltip bordered-characteristic">
          <div class="flexrow">
            <div>
              <img src='/icons/svg/shield.svg' height='24' width='24'>
            </div>
            <span class='rollable-defense' name='system.defenses.shieldBlock' data-dtype='Number'>
              {{numberFormat (add 10 system.defenses.shieldBlock) decimals=0}}/{{numberFormat system.defenses.shieldBlockThreshold decimals=0}}
            </span>
            <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.shieldBlock.label'}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flexcol" style="margin-bottom: 5px;">
      <div>
          <label class='bold-text' for="resistances-container">Resistances:</label>
          <div class="grid grid-3col" id="resistances-container">
            {{#each system.resistances as |resistance key|}}
              <div class="flexrow">
                <input disabled='true' style="flex-grow: 5;" type='text' value='{{resistance.damageType}}: {{resistance.value}}' />
                {{#unless @root.system.editLock}}
                  <input type="button" value="-" class="delete-btn" data-action='deleteDamageResistance' data-dmgtype='{{resistance.damageType}}' />
                {{/unless}}
              </div>
            {{/each}}
            {{#unless @root.system.editLock}}
              <input type="button" value="+" class="add-btn" data-action='addDamageResistance' />
            {{/unless}}
          </div>
      </div>
      <div>
          <label class='bold-text' for="system.immunitiesString">Immunities:</label>
          <input class="compact-input" type='text' id='system.immunitiesString' name='system.immunitiesString' value='{{system.immunitiesString}}' />
      </div>
      <div>
          <label class='bold-text' for="system.statusEffectImmunityString">Status Effect Immunities:</label>
          <input class="compact-input" type='text' id='system.statusEffectImmunityString' name='system.statusEffectImmunityString' value='{{system.statusEffectImmunityString}}' />
      </div>
    </div>

    <h5 class="headline">Abilities</h5>
    <table class="slim-table" style="margin-top: 5px;">
      <thead>
        <tr>
          <th></th>
          <th>{{localize 'Name'}}</th>
          <th>{{localize 'Cos'}}</th>
          <th>{{localize 'Description'}}</th>
          <th>{{localize 'Roll'}}</th>
          {{#if @root.editable}}
          <th>
            <a class='item-control item-create' title='{{localize "DOCUMENT.Create" type='npcAbility'}}'
              data-action='createDoc' data-document-class='Item' data-type='npcAbility'>
              <i class='fas fa-plus'></i>
            </a>
          </th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#each npcAbilities as |item id|}}
        <tr data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
          <td>
            <img class="rollable" data-action='viewDoc' src='{{item.img}}' title='{{item.name}}' width='24' height='24'/>
          </td>
          <td style="max-width: 80px;" class="rollable" data-action='viewDoc'>{{item.name}}</td>
          <td style="max-width: 50px;" class="rollable" data-action='viewDoc'>
            {{#each (formatAbilityCost item.system.usageCost) as |cost key|}}
              <span>{{cost}}</span>
            {{/each}}
          </td>
          <td style="max-width: 200px;" class="rollable" data-action='viewDoc'>{{item.system.summary}}</td>
          <td>
            <img class='rollable-image' data-action='useAbility' src='/systems/reclaim-the-realm/assets/icons/actor/rolling-dices.svg' width='24' height='24'/>
          </td>
          {{#if @root.editable}}
          <td>
            {{#unless @root.system.editLock}}
            <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type='classTechnique'}}' data-action='deleteDoc'>
              <i class='fas fa-trash'></i>
            </a>
            {{/unless}}
          </td>
          {{/if}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>