{{! Overview Tab }}
<section class='tab overview {{tab.cssClass}}' data-group='primary' data-tab='overview'>
  <div class='grid grid-5col'>

    <div class="grid-span-3">
      <h6 class="headline">Biography</h6>
      {{#if editable}}
      <prose-mirror name="system.biography" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.biography}}"
        collaborate="true" toggled="true">
        {{{enrichedBiography}}}
      </prose-mirror>
      {{else}} {{{enrichedBiography}}}
      {{/if}}
    </div>

    <div class="flexcol">
      <h6 class="headline">Levels</h6>
      <div class="flexrow" style="margin-bottom: 5px;">
        <div class="tooltip">
          <img src='/icons/svg/mystery-man.svg' height='24' width='24'>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.levels.level.label'}}</span>
        </div>
        <input type='text' disabled='true' name='system.levels.level' value='{{system.levels.level}}'
          data-dtype='Number' />
      </div>

      <div class="flexrow" style="margin-bottom: 5px;">
        <div class="tooltip">
          <img src='/icons/svg/sword.svg' height='24' width='24'>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.levels.martialLevel.label'}}</span>
        </div>
        <input type='text' disabled='true' name='system.levels.martialLevel' value='{{system.levels.martialLevel}}'
          data-dtype='Number' />
      </div>

      <div class="flexrow" style="margin-bottom: 5px;">
        <div class="tooltip">
          <img src='/icons/svg/mage-shield.svg' height='24' width='24'>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.levels.spellLevel.label'}}</span>
        </div>
        <input type='text' disabled='true' name='system.levels.spellLevel' value='{{system.levels.spellLevel}}'
          data-dtype='Number' />
      </div>

      <div class="flexrow" style="margin-bottom: 5px;">
        <div class="tooltip">
          <img src='/icons/svg/clockwork.svg' height='24' width='24'>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.ap.label'}}</span>
        </div>
        <input type='text' disabled='true' name='system.ap' value='{{system.ap}}' data-dtype='Number' />
      </div>

      <div class="flexrow">
        <div class="tooltip">
          <img src='/icons/svg/wingfoot.svg' height='24' width='24'>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.mp.label'}}</span>
        </div>
        <input type='text' disabled='true' name='system.mp' value='{{system.mp}}' data-dtype='Number' />
      </div>
    </div>

    <div class="flexcol">
      <h6 class="headline">Defenses</h6>

      <div class="flexrow bordered-characteristic">
        <div class="tooltip">
          <img src='/icons/magic/control/buff-strength-muscle-damage-red.webp' height='24' width='24'>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.stability.label'}}</span>
        </div>
        <div class="rollable-container">
          <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28' data-action='roll' data-roll='d20 + @stability - @exh'
            name='system.defenses.stability' data-label='system.defenses.stability' data-dtype='Number'>
          <span class="rollable-text-centered" data-action='roll' data-roll='d20 + @stability - @exh'
            name='system.defenses.stability' data-label='system.defenses.stability' data-dtype='Number'
          >{{numberFormat system.defenses.stability decimals=0 }}</span>
        </div>
      </div>

      <div class="flexrow bordered-characteristic">
        <div class="tooltip">
          <img src='/icons/skills/movement/figure-running-gray.webp' height='24' width='24'>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.dodge.label'}}</span>
        </div>
        <div class="rollable-container">
          <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28' data-action='roll' data-roll='d20 + @dodge - @exh'
            name='system.defenses.dodge' data-label='system.defenses.dodge' data-dtype='Number'>
          <span class="rollable-text-centered" data-action='roll' data-roll='d20 + @dodge - @exh'
            name='system.defenses.dodge' data-label='system.defenses.dodge' data-dtype='Number'
          >{{numberFormat system.defenses.dodge decimals=0 }}</span>
        </div>
      </div>

      <div class="flexrow bordered-characteristic">
        <div class="tooltip">
          <img src='/icons/skills/wounds/injury-body-pain-gray.webp' height='24' width='24'>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.toughness.label'}}</span>
        </div>
        <div class="rollable-container">
          <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28' data-action='roll' data-roll='d20 + @toughness - @exh'
            name='system.defenses.toughness' data-label='system.defenses.toughness' data-dtype='Number'>
          <span class="rollable-text-centered" data-action='roll' data-roll='d20 + @toughness - @exh'
            name='system.defenses.toughness' data-label='system.defenses.toughness' data-dtype='Number'
          >{{numberFormat system.defenses.toughness decimals=0 }}</span>
        </div>
      </div>

      <div class="flexrow bordered-characteristic">
        <div class="tooltip">
          <img src='/icons/commodities/biological/organ-brain-pink.webp' height='24' width='24'>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.willpower.label'}}</span>
        </div>
        <div class="rollable-container">
          <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28' data-action='roll' data-roll='d20 + @willpower - @exh'
            name='system.defenses.willpower' data-label='system.defenses.willpower' data-dtype='Number'>
          <span class="rollable-text-centered" data-action='roll' data-roll='d20 + @willpower - @exh'
            name='system.defenses.willpower' data-label='system.defenses.willpower' data-dtype='Number'
          >{{numberFormat system.defenses.willpower decimals=0 }}</span>
        </div>
      </div>

      <div class="flexrow bordered-characteristic">
        <div class="tooltip">
          <img src='/icons/svg/shield.svg' height='24' width='24'>
          <span class="tooltiptext">{{localize 'RTR.Actor.base.FIELDS.defenses.shieldBlock.label'}}</span>
        </div>
        <span class='rollable rollable-defense' data-action='roll' data-roll='d20 + @shieldBlock - @exh'
          name='system.defenses.shieldBlock' data-label='system.defenses.shieldBlock' data-dtype='Number'>{{numberFormat
          system.defenses.shieldBlock decimals=0 sign=true}}/{{numberFormat system.defenses.shieldBlockThreshold
          decimals=0}}
        </span>
      </div>
    </div>
  </div>
  <hr>
  <h6 class="headline">Creature Infos</h6>
  <div class="flexrow" style="margin-bottom: 5px;">
    <div>
      <label class='bold-text' for="system.defenses.resistances">Resistances:</label>
      <input class="grid-span-5" type='text' id='system.defenses.resistances' name='system.defenses.resistances' value='{{system.defenses.resistances}}' />
    </div>
  </div>
  <div class="flexrow" style="margin-bottom: 5px;">
    <div>
      <label class='bold-text' for="system.alignment">Alignment:</label>
      <input type='text' id='system.alignment' name='system.alignment' value='{{system.alignment}}' />
    </div>
    {{#if (eq actor.type 'character')}}
    <div style="margin-left: 10px;">
      <label class='bold-text' for="system.species">Species:</label>
      <input type='text' id='system.species' name='system.species' value='{{system.species}}' />
    </div>
    <div style="margin-left: 10px;">
      <label class='bold-text' for="system.class">Class:</label>
      <input type='text' id='system.class' name='system.class' value='{{system.class}}' />
    </div>
    {{/if}}
  </div>
  {{#if (eq actor.type 'character')}}
  <hr>
  <h6 class="headline">Short Rest</h6>
  <div class="flexrow flex-group-center">
    <button style="margin-right: 10px" 
      data-action='shortRestHpRecovery'
      {{disabled (eq system.stamina.value 0)}}
    >
      <img src="/icons/svg/regen.svg" alt="Short Rest HP Recovery" height='16' width='16'>
      <span>HP Recovery</span>
    </button>
    <button style="margin-left: 10px; margin-right: 10px" 
      data-action='shortRestArcanaRecovery'
      {{disabled (eq system.stamina.value 0)}}
    >
      <img src="/icons/magic/time/hourglass-tilted-gray.webp" alt="Short Rest Arcana Recovery" height='16' width='16'>
      <span>Arcana Recovery</span>
    </button>
    <button style="margin-left: 10px;"
      data-action='shortRestExhaustionRecovery'
      {{disabled (eq system.stamina.value 0)}}
      {{disabled (eq system.stamina.value 1)}}
    >
      <img src="/icons/magic/time/hourglass-tilted-gray.webp" alt="Short Rest Exhaustion Recovery" height='16' width='16'>
      <span>Exhaustion Recovery</span>
    </button>
  </div>
  <h6 class="headline">Long Rest</h6>
  <div class="flexrow flex-group-center">
    <button data-action='longRestRecovery'>
      <img src="/icons/svg/sleep.svg" alt="Long Rest" height='16' width='16'>
      <span>Long Rest</span>
    </button>
  </div>
  {{/if}}
</section>