{{! Perk Tab }}
<section class='tab perks {{tab.cssClass}}' data-group='primary' data-tab='perks'>
    {{#if (eq @root.actor.type 'character')}}
      <div style="margin-top: 15px;" class='flexrow flex-between'>
        <h6>Available Perk Points</h6>
        <h6 class="attribute-points">{{ subtract system.perks.totalPerkPoints totalPerkPointsUsed }}</h6>
      </div>
    {{/if}}
    <div class="perk-scrollable-table-wrapper ">
        <table class="regular-table">
            <thead>
                <tr>
                    <th></th>
                    <th>{{localize 'Name'}}</th>
                    <th>{{localize 'RTR.Item.Perk.FIELDS.tags.label'}}</th>
                    {{#if @root.editable}}
                    <th>
                        <a 
                            class='item-control item-create'
                            title='{{localize 'DOCUMENT.New' type='perk'}}'
                            data-action='createDoc'
                            data-document-class='Item' data-type='perk'>
                            <i class='fas fa-plus'></i>
                        </a>
                    </th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{#each perks as |item id|}}
                <tr class='clickable-table-row' data-action='viewDoc'  data-item-id='{{item._id}}' data-drag='true' data-document-class='Item'>
                    <td>
                        <img src='{{item.img}}' title='{{item.name}}' width='24' height='24'/>
                    </td>
                    <td style="max-width: 200px;">{{item.name}} ({{item.system.perkPointsCost}})</td>
                    <td style="max-width: 200px;">{{item.system.tags}}</td>
                    {{#if @root.editable}}
                    <td>
                        <a
                            class='item-control item-delete'
                            title='{{localize "DOCUMENT.Delete" type='perk'}}'
                            data-action='deleteDoc'
                        >
                            <i class='fas fa-trash'></i>
                        </a>
                    </td>
                    {{/if}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>