<section
  class='tab skills flexcol {{tab.cssClass}}'
  data-group='primary'
  data-tab='skills'
>
    {{#if (eq actor.type 'character')}}
    <div class="grid grid-4col">
        <div class="tooltip">
            <input
                type='number'
                disabled='true'
                name='system.skillPoints.usedSkillPoints'
                value='{{system.skillPoints.usedSkillPoints}}'
                class=""
                data-dtype='Number'
            />
            <span class="tooltiptext">Used Skill Points:</span>
        </div>
        <div class="tooltip">
            <input
                type='number'
                disabled='true'
                name='system.skillPoints.totalSkillPoints'
                value='{{system.skillPoints.totalSkillPoints}}'
                class=""
                data-dtype='Number'
            />
            <span class="tooltiptext">Total Skill Points:</span>
        </div>
        <div>
            {{#unless system.editLock}}
                <input class="reset-skills-btn" type="button" data-action='resetSkillPoints' value='Reset Skill Points'/>
            {{/unless}}
        </div>
    </div>
    {{/if}}

    <div class='skill-container compact-grid grid-7col'>
        <span class='grid-span-2 skill-header'>Skill</span>
        <span class='align-self-center grid-span-2 skill-header'>Rank / Max</span>
        <span></span>
        <span class='skill-header'>Roll</span>
    {{#each system.skills as |skills key|}}
        {{#if (eq key 'culture')}}
            <hr class='grid-span-7'>
        {{/if}}
        {{#if (eq key 'smithTools')}}
            <hr class='grid-span-7'>
        {{/if}}
        <a 
            class='grid-span-2 bold-text flexlarge align-left {{#if skills.classSkill}} class-skill {{/if}}'
            style="align-self: center;"
            {{#if skills.classSkill}}
                name='system.attributes.{{key}}.unSetAsClassSkill'
                title="{{localize 'RTR.Actor.Character.TOOLTIPS.unSetAsClassSkill.label'}}"
                data-action='unSetAsClassSkill'
            {{else}}
                name='system.attributes.{{key}}.setAsClassSkill'
                title="{{localize 'RTR.Actor.Character.TOOLTIPS.setAsClassSkill.label'}}"
                data-action='setAsClassSkill'
            {{/if}}
            {{disabled @root.system.editLock}}
        >
            {{localize (lookup @root.config.skills key)}}
        </a>
        <div class="grid-span-2 flexrow">
            {{#if (eq @root.actor.type 'character')}}
                <span class="align-self-center">{{skills.rank}} / {{skills.rankMaximum}}</span>
            {{else}}
                <input 
                type='number'
                class='compact-input'
                name='system.skills.{{key}}.rank'
                {{disabled @root.system.editLock}}
                value='{{skills.rank}}'
                data-dtype='Number'
                />
            {{/if}}
        </div>
        <div class="flexrow flex-group-center">
            {{#if (eq @root.actor.type 'character')}}
            {{#unless @root.system.editLock}}
            <input 
                type="button"
                value="+"
                class="increase-rank-btn"
                {{disabled (eq skills.rank skills.rankMaximum)}}
                {{disabled (eq @root.system.skillPoints.totalSkillPoints @root.system.skillPoints.usedSkillPoints)}} 
                name='system.skills.{{key}}.rankIncrease' 
                data-action='increaseSkillRank'
            />
            <input 
                type="button"
                value="-"
                class="decrease-rank-btn"
                {{disabled (or (eq skills.rank 0) (and (eq skills.rank 2) skills.classSkill))}}
                name='system.skills.{{key}}.rankDecrease' 
                data-action='decreaseSkillRank'
            />
            {{/unless}}
            {{/if}}
        </div>
        <select 
            name='system.skills.{{key}}.attrBonus' 
            class='compact-input skill-attribute-bonus'>
            {{#each @root.system.attributes as |attribute attrkey|}}
                {{#if (compare attrkey skills.attrBonus)}}
                <option value="{{attrkey}}" selected="selected">{{attrkey}}</option>
                {{else}}
                <option value="{{attrkey}}">{{attrkey}}</option>
                {{/if}}
            {{/each}}
        </select>
        <div class="rollable-container">
            <img src="/icons/svg/d20-grey.svg" class="rollable-image" alt="d20" height='28' width='28' 
                data-action='skillTest' data-skill='{{key}}' data-attribute='{{skills.attrBonus}}'
            >
            <span class="rollable-text-centered" data-action='skillTest' data-skill='{{key}}' data-attribute='{{skills.attrBonus}}'>
                {{numberFormat (subtract (add skills.rank (lookup (lookup @root.system.attributes skills.attrBonus) 'value')) @root.system.exhaustion) decimals=0}}
            </span>
        </div>
    {{/each}}
    </div>
</section>